.jumbotron{ 
    background-image: url("crash.jpg");
    background-size: cover;
    

}
.row img{
   display: inline-flex;
   height: 100%;
   width: 100%;
   margin-bottom: 10px;
   
   

   

}

.row2{
    display: inline-flex;
    height: 50%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}